# Using installed, not the latest versions. Update to latest if needed

Flask==1.1.2
Flask-RESTful==0.3.8
httpie==2.3.0
Flask-SQLAlchemy==2.4.4
Flask-Migrate==2.5.3
psycopg2-binary==2.8.6
passlib==1.7.4
Flask-JWT-Extended==3.25.0
Brotli==1.0.9 # flask-compress 1.7.0 requires brotli